Repository codeplaysoftware/computecpp-sdk, pull requests merged in 2018-07, with the labels that each got.

#124 making the local size to be parametric.
  samples/tiled-convolution/tiled-convolution.cpp
Labels: enhancement, sample

#125 Update SDK to ComputeCpp v0.9.0
  .travis.yml
  .travis/before_install.sh
  .travis/build_computecpp.sh
  cmake/Modules/FindComputeCpp.cmake
Labels: msvc, new-release

#128 Rename
  .travis.yml
  .travis/before_install.sh
  .travis/build_computecpp.sh
  cmake/Modules/FindComputeCpp.cmake
  samples/gaussian-blur/gaussian-blur.cpp
  samples/matrix-multiply/matrix-multiply.cpp
  samples/parallel-for/parallel-for.cpp
  samples/reduction/reduction.cpp
  samples/tiled-convolution/tiled-convolution.cpp
Labels: cmake, new-release

#130 FindComputeCpp: Make `ComputeCpp_ROOT_DIR` optional, use depfiles
  cmake/Modules/FindComputeCpp.cmake
Labels: cmake, enhancement
