Repository codeplaysoftware/computecpp-sdk, pull requests merged in 2018-09, with the labels that each got.

#141 Remove -isystem from device compiler command
  cmake/Modules/FindComputeCpp.cmake
Labels: bug, cmake

#143 Update depfile generation for device compiler
  cmake/Modules/FindComputeCpp.cmake
Labels: cmake, enhancement

#144 Simplify cross compilation with ComputeCpp_HOST_DIR
  cmake/Modules/FindComputeCpp.cmake
Labels: cmake, enhancement

#145 Update SDK to ComputeCpp v1.0.1
  .travis/build_computecpp.sh
  samples/reinterpret/reinterpret.cpp
Labels: new-release
