Repository codeplaysoftware/computecpp-sdk, pull requests merged in 2018-05, with the labels that each got.

#110 Vptr: handle alloc zero
  include/vptr/README.adoc
  include/vptr/virtual_ptr.hpp
  tests/vptr/basic.cc
Labels: bug, enhancement

#113 Fix const capture crash on Windows CMake builds
  cmake/Modules/FindComputeCpp.cmake
Labels: cmake, enhancement

#115 Update SDK to ComputeCpp v0.8.0
  .travis/build_computecpp.sh
  samples/images/images.cpp
  samples/simple-example-of-vectors/simple-example-of-vectors.cpp
  samples/simple-private-memory/simple-private-memory.cpp
Labels: new-release, travis
