Repository codeplaysoftware/computecpp-sdk, pull requests merged in 2018-12, with the labels that each got.

#158 Added initial example of builtin kernel
  samples/builtin-kernel-example/CMakeLists.txt
  samples/builtin-kernel-example/builtin-kernel-example.cpp
Labels: new-release

#163 Example of synchronous error handling
  samples/sync-handler/CMakeLists.txt
  samples/sync-handler/sync-handler.cpp
Labels: sample

#160 Move compiler checks to separate module
  cmake/Modules/ComputeCppCompilerChecks.cmake
  cmake/Modules/FindComputeCpp.cmake
Labels: cmake, enhancement

#166 Generic cross compilation flags
  cmake/Modules/FindComputeCpp.cmake
  cmake/toolchains/arm-gcc-poky.cmake
  cmake/toolchains/gcc-generic.cmake
Labels: cmake, enhancement

#162 Added a sample file demonstrating placeholder accessors (fixes #123)
  samples/placeholder-accessors/CMakeLists.txt
  samples/placeholder-accessors/placeholder-accessors.cpp
Labels: sample

#165 Added use-onchip-memory sample
  samples/use-onchip-memory/CMakeLists.txt
  samples/use-onchip-memory/use-onchip-memory.cpp
Labels: sample
